html, body {
	background-color: #fff;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	margin:0;
	padding:0;
}

.template { display: none; visibility: hidden; }

#main-view {
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	max-height: 100%;
	width: 80%;
	max-width: 800px;
}
@media (max-width: 730px) {
	#main-view {
		width: 95%;
	}
}
#search {
	display: inline-block;
	border-color: #d00;
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 30vh;
	margin-bottom: 0px;
	text-align: center;
}

#search img {
	height: 5%;
}

#logo {
	display: inline-block;
	width: 50%;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

@media (max-height: 330px) {
	#logo {
		width: 90vh;
	}
}

#search-box {
	border-style: solid;
	border-color: #d00;
	position: relative;
	width: auto;
	height: 44px;
	margin-top: 20px;
}

#search-box input {
	padding: 10px;
	font-size: 17px;
	border: 0px;
	outline: none;
	float: left;
	width: 80%;
	height: 100%;
}

#search-box #button {
	float: right;
	width: 50px;
	padding: 0px;
	background: #d00;
	color: white;
	font-size: 17px;
	cursor: pointer;
	height: 100%;
	text-align: center;
}

#search-box #button:hover {
	filter: brightness(90%);
}

#search-box #button img {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.video {
	display: none;
	background: #eee;
	position: relative;
	width: 100%;
	height: 180px;
	padding: 0px; 
	margin-top: 20px;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: all 0.8s;
}

.video .thumb {
	flex-grow: 0;
	flex-shrink: 1;
	object-fit: cover;
	padding: 10px; 
	font-size: 17px;
	border: 0px;
	/* float: left; */
	width: auto;
	height: 90%;
	margin: 0px;
	z-index: 1;
}

.video .video-info {
	flex: 1;
	float: left;
	color: black;
	font-size: 17px;
	cursor: pointer;
	text-align: left;
	margin: 0;
	position: relative;
	padding-right: 10px;
	top: 22%;
}

.video .video-info.final {
	display: none;
	opacity: 1;
	top: 0%;
	z-index: 1;
	overflow: scroll;
}

.video .video-info.final.showed {
	display: flex;
}

.video .download-button {
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0px;
	float: right;
	width: 60px;
	padding: 0px;
	background: #d00;
	color: white;
	font-size: 17px;
	cursor: pointer;
	height: 100%;
	text-align: center;
	transition: all 0.5s;
}

.video .download-button.final {
	z-index: 2;
	background: #f4f4f4;
	transition: all 0.5s;
}

.arrow {
	width: 65%;
	height: 65%;
	filter: invert(1);
	transition: all 0.5s;
}

.arrow.final {
	width: 65%;
	height: 65%;
	z-index: 3;
	color: red;
	filter: invert(1) brightness(0.5) sepia(1) saturate(10000%);
	transition: all 0.5s;
}

.video .alt-bg {
	right: 0px;
	margin: 0px;
	padding: 0px;
	background: #d00;
	color: white;
	font-size: 17px;
	cursor: pointer;
	height: 100%;
	text-align: center;
	position: absolute;
	z-index: 0;
	width: 0%;
	transition: all 1s;
}

.video .download-button img {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%) scale(65%);
	transform: translateY(-50%) scale(65%);
}

.video .download-button:hover {
	filter: brightness(90%);
}

@media (max-width: 610px) or (max-height: 600px) {
	.video {
		height: 120px;
	}
	.video .thumb {
		padding: 6px;
	}
	.video .video-info {
		font-size: 12px;
	}
	.video .download-button {
		width: 45px;
	}
	/* .scrollmenu { */
		/* width: auto !important; */
	/* } */
}

@media (max-width: 387px) {
	.video {
		display: inline-block !important;
		height: 290px;
		text-align: center;
		padding-top: 0px;
		height: auto;
	}
	.video .thumb {
		display: inline-block;
		float: none;
		width: 100%;
		padding: 0px;
		height: 70%;
	}
	.video .video-info {
		display: inline-block;
		font-size: 12px;
		max-width: 100%;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-left: 5px;
		top: 0%;
		-ms-transform: none;
		transform: none;
	}
	.video .download-button {
		display: inline-block;
		height: 40px;
		width: 100%;
		position: relative;
	}
	.video .video-info.final.showed {
		display: block;
		height: 123px !important;
		transition: all 0.5s;
	}
	.scrollmenu {
		display: block !important;
		width: 95% !important;
		margin: none !important;
		margin-top: 3px !important;
		margin-left: 1% !important;
		overflow-x: scroll !important;
		overflow-y: hidden !important;
		height: auto !important;
	}
	.scrollmenu .item {
		display: inline-block !important;
	}
	.resp-spinner {
		top: 10px !important;
		height: 6vh !important;
		width: 6vh !important;
	}
}

.loader {
	display: none;
	opacity: 0;
	margin: auto;
	margin-top: 60px;
	border: 10px solid #EAF0F6;
	border-radius: 50%;
	border-top: 10px solid #d00;
	width: 10vh;
	height: 10vh;
	animation: spinner 4s linear infinite;
	position: relative;
	top:35%;
	transition: left 0s, visibility 0s, opacity 0.5s;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.scrollmenu .item {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	width: auto;
	font-size: 15px;
}

.scrollmenu .item.selected {
	background: #f4f4f4;
	color: #d00;
	font-weight: bold;
}

.scrollmenu .item:hover {
	background-color: #C03A3A;
}

.scrollmenu .item.selected:hover {
	background: #c4c4c4;
}

.scrollmenu {
	flex-shrink: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: nowrap;
	background: #9C0000;
	border-radius: 10px;
	height: 85%;
	width: 0%;
	display: table-cell;
	vertical-align: middle;
	margin: auto;
	transition: all 0.5s;
}